In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
card_res=pd.read_csv("CARD_SPENDING_RESIDENT.txt", sep="\t")
card_resident=pd.DataFrame(card_res)
card_resident

           STD_DD  GU_CD  DONG_CD  MCT_CAT_CD SEX_CD  AGE_CD  USE_CNT  USE_AMT
0        20190201    110      517          10      F      25       11      595
1        20190201    110      517          10      F      50        5      243
2        20190201    110      517          10      F      55        5       27
3        20190201    110      517          10      M      20       11      243
4        20190201    110      517          10      M      25       11      433
...           ...    ...      ...         ...    ...     ...      ...      ...
2537748  20200531    350      720          81      M      45       19      127
2537749  20200531    350      720          81      M      50       33      211
2537750  20200531    350      720          81      M      55        9       61
2537751  20200531    350      720          81      M      60       19      194
2537752  20200531    350      720          81      M      65        5       29

[2537753 rows x 8 columns]

In [3]:
E=card_resident.groupby(['MCT_CAT_CD', 'STD_DD'])
category=E.sum()
category

                      GU_CD  DONG_CD  AGE_CD  USE_CNT  USE_AMT
MCT_CAT_CD STD_DD
10         20190201   50080   157919   10510     4450   382408
           20190202   57500   177111   11560     5343   601189
           20190203   54050   163631   10735     5191   567324
           20190204   51270   159773   10580     4511   533329
           20190205   40510   128785    8815     3559   508359
...                     ...      ...     ...      ...      ...
92         20200527  106700   243196   17690     3366    88354
           20200528   93610   209815   14910     2491    92452
           20200529   94610   215177   15105     2663    74116
           20200530  121750   277484   19795     4093   105489
           20200531   24290    53649    3670      745    20278

[5532 rows x 5 columns]

In [4]:
cat=[30, 32, 34, 35, 40, 42, 43, 44, 50, 71, 80 ,81]
category_name=['가구', '주방용구', '광학제품', '가전', '유통업', '의복', '직물', '신변잡화', '서적문구', '보건위생', '요식업소', '음료식품']
len(cat)

12

In [6]:
for j in range(12):
        try:
            plt.rcParams['figure.figsize']=[15,5]
            area=category.loc[(cat[j])]
            print(cat[j])
            area['USE_CNT'].plot.bar(color='red')
            #plt.xlabel('2019_2020')
            #plt.ylabel(gu_name[i], category_name[j])
            plt.grid()
            plt.legend()
            #plt.show()
            plt.savefig('전체 '+category_name[j]+' 이용건수'+'.png')
            plt.close()
        except:
            pass

30
32
34
35
40
42
43
44
50
71
80
81

In [7]:
for j in range(12):
        try:
            plt.rcParams['figure.figsize']=[15,5]
            area=category.loc[(cat[j])]
            print(cat[j])
            area['USE_AMT'].plot.bar(color='blue')
            #plt.xlabel('2019_2020')
            #plt.ylabel(gu_name[i], category_name[j])
            plt.grid()
            plt.legend()
            #plt.show()
            plt.savefig('전체 '+category_name[j]+' 이용금액'+'.png')
            plt.close()
        except:
            pass

30
32
34
35
40
42
43
44
50
71
80
81

In [9]:
card_2019=card_resident[card_resident['STD_DD']<20200000]

In [10]:
card_2020=card_resident[card_resident['STD_DD']>20200000]

In [11]:
E_2019=card_2019.groupby(['MCT_CAT_CD'])
category_2019=E_2019.sum()
category_2019

                   STD_DD     GU_CD    DONG_CD   AGE_CD   USE_CNT     USE_AMT
MCT_CAT_CD
10           658892512080   6140400   19114342  1297880    511736    63939157
20           769818544979   9025100   23218386  1650390   1362051   102633333
21          1702956564415  20866770   51621609  3273065   2658105    56179519
22          1053331765041  12241080   31579730  2092975    945526    23425696
30            64770702938    758210    2003765   143165     18496     7470184
31            18211711212    248440     548933    44575      4728     1051101
32           165803331521   1609850    5059793   380820     62396     9643093
33          1501396245710  18216440   45256135  3267725   3273195   142093443
34           284038041267   2990570    8481208   543800    116398     8183860
35           304773620769   3522550    9030552   679795    125404    33357303
40          3284205788691  38173450   99863040  6905945  49530046  1139972810
42          1071321615426  11351310   32357406  2319695   1735999   107981622
43           149469373978   1318630    4420248   345385     57289     8481213
44           563190327213   5503740   16597690  1167655    625286    29834682
50          1302501011543  15761620   39218157  2615960   1560222    32779451
52           308407963206   2963500    8715933   614835  10446174    87365243
60            63862171637    613340    1925148   135260     19966    12323158
62          1184084571360  12374200   35139814  2547925   1693699    39511443
70          2802282250428  32716820   85044747  5963490   9491925   577327073
71          2252397240397  27132180   68634625  4683335   2541178   112925672
80          3299712024054  38113030  100459693  6929765  58855989   922666061
81          2928976605423  34669170   88960788  6205335   5546242    81856380
92           727217085039   9762270   21990813  1519825    291829     8328622

In [12]:
E_2020=card_2020.groupby(['MCT_CAT_CD'])
category_2020=E_2020.sum()
category_2020

                   STD_DD     GU_CD    DONG_CD   AGE_CD   USE_CNT    USE_AMT
MCT_CAT_CD
10           514321477024   4793790   14991250  1012855    344995   41160612
20           593446860535   6757180   17886943  1270185   1028462   80888934
21          1493675731716  18351730   45432443  2833680   2250509   40987455
22           958002822135  11615360   28921258  1860190    479961   14480321
30            58459936251    687790    1814651   134370     16333    8679411
31            21331585993    297810     646165    52850      5452    1089998
32           159744635764   1562250    4882553   365940     60626    8544994
33          1393441542544  17071780   42068210  3051685   2465646  104781599
34           213942066264   2191520    6443903   396340     82366    5784333
35           235819178079   2780150    7012625   539055     85047   24347172
40          3310799866985  38477860  100620614  6960660  41484129  981466606
42           843083292761   8744700   25373629  1835615    900058   60570614
43           129423929012   1223230    3843017   308510     49473    7530504
44           454629815786   4453110   13349997   935425    360357   19864594
50          1170975193221  14139550   35381576  2349220    949993   23994170
52           287653297676   2726980    8072030   585245   6638067   61028395
60            70761935879    694690    2139089   151225     21257   10638206
62          1068579498918  11056290   31829082  2314935   1061292   33008461
70          2852453638117  33367250   86563548  6075110   9431279  522890221
71          2021915825258  24440750   61622498  4226025   1617409   82768637
80          3293488257590  38112120  100208934  6915130  50013923  726877815
81          2954384562243  35024960   89718501  6293710   5253959   84504150
92           688489501369   9284370   20912952  1457765    265078    8298728

In [13]:
for j in range(12):
        try:
            plt.rcParams['figure.figsize']=[5,5]
            area_2019=category_2019.loc[(cat[j])]
            area_2020=category_2020.loc[(cat[j])]
            print(cat[j])
            budget_data=[area_2019['USE_CNT'], area_2020['USE_CNT']]
            budget_category=['2019 USE_COUNT', '2020 USE_COUNT']
            colors=['pink', 'red']
            #area['USE_CNT'].plot.bar(color='red')
            #plt.xlabel('2019_2020')
            #plt.ylabel(gu_name[i], category_name[j])
            #plt.grid()
            #plt.legend()
            plt.pie(budget_data, labels=budget_category, autopct='%0.1f%%', colors=colors)
            #plt.legend(budget_category)
            #plt.show()
            plt.savefig('전체 '+category_name[j]+' 이용건수 비율'+'.png')
            plt.close()
        except:
            pass

30
32
34
35
40
42
43
44
50
71
80
81

In [14]:
for j in range(12):
        try:
            plt.rcParams['figure.figsize']=[5,5]
            area_2019=category_2019.loc[(cat[j])]
            area_2020=category_2020.loc[(cat[j])]
            print(cat[j])
            budget_data=[area_2019['USE_AMT'], area_2020['USE_AMT']]
            budget_category=['2019 USE_AMOUNT', '2020 USE_AMOUNT']
            colors=['lightskyblue', 'blue']
            #area['USE_CNT'].plot.bar(color='red')
            #plt.xlabel('2019_2020')
            #plt.ylabel(gu_name[i], category_name[j])
            #plt.grid()
            #plt.legend()
            plt.pie(budget_data, labels=budget_category, autopct='%0.1f%%', colors=colors)
            #plt.legend(budget_category)
            #plt.show()
            plt.savefig('전체 '+category_name[j]+' 이용금액 비율'+'.png')
            plt.close()
        except:
            pass

30
32
34
35
40
42
43
44
50
71
80
81